body {
  font-family: arial, sans-serif;
}

.weather-app{
  max-width: 1000px;
  margin: 30px auto;
}

.card-bg {
  background-color: #eaf7fd;
}

.content-color {
  color: #42a5f5;
}

#submit{
  font-size: 15px;
}

.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

#search-form {
  margin-bottom: 20px;
}

.active{
  color: black;
  cursor: default;
  text-decoration: none;
}

#footer{
  font-size: 13px;
  font-weight: 400;
}
